MONGODB_URI=mongo db cluster string link

REDIS_HOST=redis host
REDIS_PORT=redis port number
REDIS_PASSWORD=redis password

# Optional: Full connection URL
REDIS_URL=redis url link

CLOUD_NAME=cloudinary cloud name
API_KEY=cloudinary api key
API_SECRET=cloudinary api secret
SMTP_HOST=smtp.gmail.com
SMTP_PORT=port number
SMTP_USER=your email address
SMTP_PASS=your email password
SMTP_FROM=your email address